body {
  font-family: "Nunito";
}

#navbar .nav-link {
  font-weight: bold;
}

#navbar .nav-link:hover {
  color: rgb(22, 26, 116);
}

#navbar .nav-item:hover .dropdown-menu {
  display: block;
}

#carouselExampleAutoplaying {
  padding-top: 4rem;
}

#btn-bulat {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
}

figure:hover img{
  transform: scale(75%);
}

section {
  padding-top: 5rem;
}
