body {
  font-family: "Nunito";
}

#navbar .nav-link {
  font-weight: bold;
}

#navbar .nav-link:hover {
  color: rgb(22, 26, 116);
}

#navbar .nav-item:hover .dropdown-menu {
  display: block;
}

#air-plane-logo:hover {
  transform: scale(75%);
}

#img-logo-hjw:hover {
  transform: scale(75%);
}

section {
  padding-top: 5rem;
}
