body {
  font-family: "Nunito";
}

#navbar .nav-link {
  font-weight: bold;
}

#navbar .nav-link:hover {
  color: rgb(22, 26, 116);
}

#navbar .nav-item:hover .dropdown-menu {
  display: block;
}

#air-plane-logo:hover {
  transform: scale(75%);
}

#img-logo-hjw:hover {
  transform: scale(75%);
}

section {
  padding-top: 5rem;
}

.custom-scrollbar-js,
.custom-scrollbar-css {
  height: 250px;
}

/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
  overflow-y: scroll;
}

/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
  width: 5px;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
  background: #eee;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #00d2ff;
  background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);
}
